# Fichiers sensibles
.env
.env.local
*.env
*.env.local

# Fichiers système
.DS_Store
Thumbs.db

# Dépendances
node_modules/
vendor/

# Logs
*.log
npm-debug.log*

# IDE
.vscode/
.idea/
*.swp
*.swo

# Fichiers de build
dist/
build/
